$color-link: #90887c;
$color-nav: #141414;
$color-hover: #F2C777;
$color-border: $color-nav;
$color-background: #efefef;

$font-heading: 'Signika Negative', sans-serif;
$font-base: 'Open Sans', sans-serif;
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: $color-background;
}
h1,h2,h3 {
	font-family: $font-heading;
}
p,a,small,button {
	font-family: $font-base;
}
a {
	text-decoration: none;
	color: $color-link;
	font-weight: 700;
	letter-spacing: 0.2em;
	font-size: 1.2em;
	&:hover {
		color: $color-hover;
	}
}
button {
	border-style: none;
    border-color: $color-link;
    border-image: none;
	border: 1px solid;
	border-radius: 2em;
	padding: 1em 2em;
	background-color: $color-background;
	text-transform: uppercase;
	font-weight: 700;
	color: $color-link;
	&:hover {
		border: -3px solid $color-border;
		color: $color-border;
		padding: calc(1em-2px);
	}
}
nav {
	background-color: $color-nav;
	ul {
		margin: 0;
		li {
			margin-top: 1em;
			list-style-type: none;
			display: inline-block;
			width: 20%;
			i {
				margin: 0 1em;
			}
			
		}
	}
}
::placeholder {
	color: $color-nav;
}
.text-center {
	text-align: center;
}
#header {
	text-align: center;
	background-color: $color-nav;
}
.jumbotron {
	min-height: 500px;
	background-color: $color-hover;
	.jumbotron-content {
		transform: translate(0, 240%);
	}
}
.center {
	width: 80%;
	margin: 0 auto;
}
article[id="more-info"] {
	text-align: center;
	p {
		text-align: justify;
	}
}
main {
	margin: 4em 0;
}

#more-info {
	margin-bottom: 1em 0;
	img {
		margin-top: 3.1em;
		max-height: 300px;
		width: 35%;
		display: inline-block;
	}
	.article-content {
		display: inline-block;
		width: 60%;
		vertical-align: top;
		
		header {
			vertical-align: top;
			h2 {
				margin-top: 0;
				margin-left: 2rem;
				text-align: left;
				
			}
		}
		p {
			margin: 0 2em;

			line-height: 1.5em;	
		}
	}
	button {
		margin: 2.5% 0;
	}
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		
		.modal-content {
			background-color: #fefefe;
 			margin: 15% auto; /* 15% from the top and centered */
    		padding: 20px;
    		border: 1px solid #888;
    		width: 80%; /* Could be more or less, depending on screen size */
			p {
				text-align: justify;

			}
			.close {
				color: #aaa;
				float: right;
				font-size: 28px;
				font-weight: bold;
				&:hover, &:focus {
					color: black;
    				text-decoration: none;
    				cursor: pointer;
				}
			}
			
		}
	}
}

.company-info {
	text-align: center;
	i {
		font-size: 10em;
		margin: 2rem;
		color: $color-hover;
	}
	.info-text {
		display: inline-block;
		width: 60%;
		vertical-align: text-bottom;
		margin-left: 2em;
		p {
			margin-top: 0;
			text-align: center;
		}
	}
}


#featured-products {
	margin-top: 5%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(100px, auto);
	.work-item {
		display: inline-block;
		text-align: center;
		
		button {
			margin-top: 1em;
		}
		a {
			img:hover {
				box-shadow: 5px 5px 5px #aaaaaa;
			}
		}
		small {
			span {
				text-decoration: line-through;
			}
			i {
				font-size: 120%;
				color: $color-nav;
			}
		}
	}	

}

#contact-us {
	margin-top: 2em;
	display: grid;
	grid-template-columns: minmax(450px, 1fr);
	grid-template-areas: "form info";
	.form {
		background-color: whitesmoke;
		padding: 0 2em 2em 2em;
		border-top-left-radius: 2em;
		border-bottom-left-radius: 2em;
		h2 {
			text-align: center;
			color: $color-nav;
		}	
	}
	form {
		grid-area: form;
		input,textarea {
			margin: 1em 0;
			width: 100%;
			border: 1px solid $color-link;
			border-radius: 0.5em;
			padding: 1em;
			background-color: whitesmoke;
			outline: none;
			resize: none;
			
		}
		input:focus, textarea:focus {
			border: 2px solid $color-border;
		}
		button {
			margin: 1em -50px; 
    	position:relative;
   	 	left:41%;
		}
	}
	.contact-info {
		grid-area: info;
		text-align: center;
		justify-self: center;
		background-color: $color-nav;
		color: $color-hover;
		padding: 1em;
		border-top-right-radius: 2em;
		border-bottom-right-radius: 2em;
		ul {
			list-style: none;
			li {
				margin-top: 3em;
				
				i {
					margin-right: 1em;
					display: inline-block;
					vertical-align: top;
					
				}
				div {
					display: inline-block;
				}
			}
		}
	}
}





footer {
	nav {
		padding-bottom: 1em;
		ul {
			text-align: center;
		}
	}
}