$color-link: #90887c;
$color-nav: #141414;
$color-hover: #ae8648;
$color-border: green;
$color-background: whitesmoke;

$font-heading: 'Signika Negative', sans-serif;
$font-base: 'Open Sans', sans-serif;
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: $color-background;
}
h1,h2,h3 {
	font-family: $font-heading;
}
p,a,small,button {
	font-family: $font-base;
}
a {
	text-decoration: none;
	color: $color-link;
	font-weight: 700;
	letter-spacing: 0.2em;
	font-size: 1.2em;
	&:hover {
		color: $color-hover;
	}
}
button {
	border: 1px solid $color-link;
	border-radius: 2em;
	padding: 1em 2em;
	background-color: $color-background;
	text-transform: uppercase;
	font-weight: 700;
	color: $color-link;
	&:hover {
		border: 2px solid $color-border;
		color: $color-border;
	}
}
.text-center {
	text-align: center;
}
#header {
	text-align: center;
	background-color: $color-nav;
	nav {
		
		ul {
			
			margin: 0;
			li {
				margin-top: 1em;
				list-style-type: none;
				display: inline-block;
				width: 20%;
				i {
					margin: 0 1em;
				}
				
			}
		}
	}
}
.jumbotron {
	min-height: 500px;
	background-color: $color-hover;
	.jumbotron-content {
		transform: translate(0, 240%);
	}
}
main {
	// width: 80%;
	// margin: 0 auto;
}
article[id="more-info"] {
	text-align: center;
	p {
		text-align: justify;
	}
}

#featured-products {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(100px, auto);
		article {
			display: inline-block;
			text-align: center;
			p {
				padding: 2em;
			}
		}
	
}