* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: whitesmoke; }

h1, h2, h3 {
  font-family: "Signika Negative", sans-serif; }

p, a, small, button {
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none;
  color: #90887c;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 1.2em; }
  a:hover {
    color: #ae8648; }

button {
  border: 1px solid #90887c;
  border-radius: 2em;
  padding: 1em 2em;
  background-color: whitesmoke;
  text-transform: uppercase;
  font-weight: 700;
  color: #90887c; }
  button:hover {
    border: 2px solid green;
    color: green; }

.text-center {
  text-align: center; }

#header {
  text-align: center;
  background-color: #141414; }
  #header nav ul {
    margin: 0; }
    #header nav ul li {
      margin-top: 1em;
      list-style-type: none;
      display: inline-block;
      width: 20%; }
      #header nav ul li i {
        margin: 0 1em; }

.jumbotron {
  min-height: 500px;
  background-color: #ae8648; }
  .jumbotron .jumbotron-content {
    transform: translate(0, 240%); }

.center {
  width: 80%;
  margin: 0 auto; }

article[id="more-info"] {
  text-align: center; }
  article[id="more-info"] p {
    text-align: justify; }

main {
  margin: 4em 0; }

#more-info {
  margin-bottom: 1em 0; }
  #more-info img {
    margin-top: 3.1em;
    max-height: 300px;
    width: 35%;
    display: inline-block; }
  #more-info .article-content {
    display: inline-block;
    width: 60%;
    vertical-align: top; }
    #more-info .article-content header {
      vertical-align: top; }
      #more-info .article-content header h2 {
        margin-top: 0;
        margin-left: 2rem;
        text-align: left; }
    #more-info .article-content p {
      margin: 0 2em;
      line-height: 1.5em; }
  #more-info button {
    margin-top: 1em; }

#featured-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto); }
  #featured-products article {
    display: inline-block;
    text-align: center; }
    #featured-products article p {
      padding: 2em; }
    #featured-products article button {
      margin-top: 1em; }

#contact-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  text-align: center; }
  #contact-us form input, #contact-us form textarea {
    margin: 1em 0;
    width: 80%;
    border: 1px solid #90887c;
    border-radius: 0.5em;
    padding: 1em;
    background-color: whitesmoke;
    outline: none;
    resize: none; }
  #contact-us form input:focus, #contact-us form textarea:focus {
    border: 2px solid green; }
  #contact-us .contact-info ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr; }
    #contact-us .contact-info ul li {
      display: grid;
      grid-template-columns: 64px auto;
      grid-auto-rows: minmax(100px, auto); }
      #contact-us .contact-info ul li h1 {
        margin: 0; }
